*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins;

}

body{

background:#f7f3ed;

color:#333;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:100;

}


.logo{

display:flex;

gap:15px;

align-items:center;

}


.icon{

width:55px;

height:55px;

background:#5d7749;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

font-size:25px;

color:white;

}



nav{

display:flex;

gap:30px;

}


nav a{

text-decoration:none;

color:#444;

font-weight:500;

}


.instagram{

padding:12px 20px;

background:#5d7749;

color:white;

border-radius:8px;

text-decoration:none;

}



.produtos{

padding:80px 8%;

text-align:center;

}


.produtos h1{

font-size:42px;

margin-bottom:15px;

color:#4c3527;

}


.texto{

margin-bottom:50px;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}


.card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.4s;

}


.card:hover{

transform:translateY(-8px);

}


.card img{

width:100%;

height:360px;

object-fit:cover;

border-radius:15px;

}


.card h3{

margin:20px 0;

}


.card button{

width:100%;

padding:15px;

background:#5d7749;

border:none;

color:white;

border-radius:8px;

cursor:pointer;

}



.sobre{

padding:100px 10%;

text-align:center;

background:#ebe3d8;

}



footer{

background:#2f241c;

padding:40px;

color:white;

text-align:center;

}



footer p{

margin:10px;

}



@media(max-width:900px){

.cards{

grid-template-columns:1fr;

}

header{

flex-direction:column;

gap:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

}

}